.interna_portfolio {
  background: url("../_img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote_clientes {
  margin: 60px auto;
  max-width: 480px;
}

.quote_clientes p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.quote_clientes cite {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  float: right;
  font-style: normal;
  margin-top: 10px;
}
